main {
  padding: 40px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh);

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: $loginBackground;
  }
}

.form_container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  position: relative;
  border-radius: 7px;
  box-shadow: 1px 1px 10px rgba($black, 0.3);

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    opacity: 0.8;
    background: $white;
    position: absolute;
    border-radius: 7px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 10px;
  }
}
