$black: #000;
$white: #fff;
$green: #57b100;
$cyanBlue: #027fe9;
$blue: #033b6b;
$red: #fa000000;
$orange: #e89f15;
$gray: #5f5f5f;
$defaultBorderColor: #ccc;
$buttonGreenColor: #007800;

$loginBackground: url("../../images/login_background.jpg");
